$--border: 2px solid;
$--padding: 1ch;
$--center: center;
$--color-primary:red;
$--color-tertiary:blue;

div{
    border: $--border $--color-primary
}
h1{
    text-align: $--center;
    color: green;
    span{
        border-bottom: $--border $--color-tertiary;
    }
}
section{
    display: flex;
    padding: $--padding;
}
article{
    border: $--border green;
    padding: $--padding;
    text-align: $--center;
    &:nth-of-type(odd){
        color: $--color-tertiary;
    }
    &:nth-of-type(even){
        color: $--color-primary;
    }
}